.new-tab {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2vh 40px;
}

.new-tab .new-tab-top {
  height: 3vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.new-tab .new-tab-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-tab .new-tab-bottom .new-tab-left {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91vh;
}

.new-tab .new-tab-left .date-time-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.new-tab .new-tab-left .search-section {
  display: flex;
  flex-direction: column;
}

.new-tab .new-tab-bottom .new-tab-right {
  flex: 0.55;
  height: 91vh;
  overflow-y: scroll;
}

.new-tab .new-tab-bottom .new-tab-right::-webkit-scrollbar {
  background-color: transparent;
  border: none;
  outline: none;
  width: 14px;
}

.new-tab .new-tab-bottom .new-tab-right::-webkit-scrollbar-thumb {
  background-color: #bcc7c3;
  border-radius: 10px;
  border: 2px solid #ffffff;
  transition: background-color 0.2s ease;
}

.new-tab .new-tab-bottom .new-tab-right::-webkit-scrollbar-thumb:hover {
  background-color: #718d84;
}

.new-tab .new-tab-bottom .new-tab-right::-webkit-scrollbar-track {
  margin-block: 5px;
}

@media (max-width: 1000px) {
  .new-tab {
    padding: 2vh 20px;
  }

  .new-tab .new-tab-bottom {
    display: block;
  }

  .new-tab .new-tab-bottom .new-tab-left,
  .new-tab .new-tab-bottom .new-tab-right {
    flex: none;
    margin: 20px 0;
  }

  .new-tab .new-tab-bottom .new-tab-left {
    justify-content: initial;
    height: auto;
  }
}
