.am-pm-btn:hover {
  background-color: #99aca6;
}

.am-pm-btn {
  background-color: #bcc7c3;
  width: 80px;
  padding: 6px 10px;
  border-radius: 13px;
  border: 2px solid #e8e8e8;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
