.calendar-input {
  background-color: #ffffff;
  outline: none;
  border: 2px solid #e8e8e8;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 13px;
  width: 14vw;
  min-width: 180px;
  letter-spacing: 1px;
  color: #111111;
}

.calendar-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
