.category-input {
  background-color: #ffffff;
  outline: none;
  padding: 6px 10px;
  font-size: 18px;
  border-radius: 13px;
  width: 100%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  border: none;
}

.category-input-menu {
  background: #ffffff;
  border-radius: 15px;
  padding: 10px 10px;
  width: 14vw;
  min-width: 150px;
  max-height: 150px;
  overflow-y: scroll;
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
  color: #111111;
  text-align: center;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.category-input-menu li {
  list-style: none;
  padding: 5px 0px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.category-input-menu li:hover {
  background-color: #c8dcd5;
}

.category-input-menu::-webkit-scrollbar {
  background-color: transparent;
  border: none;
  outline: none;
  width: 12px;
}

.category-input-menu::-webkit-scrollbar-thumb {
  background-color: #bcc7c3;
  border-radius: 10px;
  border: 2px solid #ffffff;
  transition: background-color 0.2s ease;
}

.category-input-menu::-webkit-scrollbar-thumb:hover {
  background-color: #718d84;
}

.category-input-menu::-webkit-scrollbar-track {
  margin-block: 5px;
}
