.time-input input {
  -moz-appearance: textfield;
  background-color: #ffffff;
  outline: none;
  border: 2px solid #e8e8e8;
  padding: 6px 10px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 13px;
  width: 4vw;
  min-width: 80px;
  color: #111111;
}

.time-input input::-webkit-outer-spin-button,
.time-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
